@import "tailwindcss";

:root {
  color-scheme: light;

  --background: #f7f8fa;
  --foreground: #272727;
  --secondary: #5b5b5b;
  --border: #e7eaf0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);

  --color-border: var(--border);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-heading);
}

html,
body {
  background: var(--background);
  color: var(--foreground);
}

body {
  margin: 0;
  font-family: var(--font-geist-sans), sans-serif;
}